[init]
	templatedir = ~/.git-template
[user]
	email = mattr@netsight.co.uk
	name = Matt Russell
[push]
	default = simple
[alias]
    br = branch
    ci = commit
    cb = checkout -b
    co = checkout
    df = diff
    db = branch -D
    rh = reset --hard
    rn = branch -m
    st = status
    mnf = merge --no-ff
    rhh  = reset ---hard HEAD
    rpo = remote prune origin
[core]
	excludesfile = /home/mattr/.gitignore_global
    attributesfile = ~/.gitattributes
[merge "pofile"]
    name = custom merge driver for gettext po files
    driver = git-po-merge %A %O %B
