*~
.#*
.gitconfig
*.asc
*.bak
*.disabled
*.elc
*.old
*.pyc
/clojure/.clojure/*.sc
/clojure/.clojure/.cpcache
/fonts/.fonts
/gnupg/.gnupg/private-keys-*
/gnupg/.gnupg/secret.asc
/gnupg/.gnupg/sshcontrol
/gnupg/.gnupg/openpgp-revocs.d
/gnupg/.gnupg/*ring.*
/gnupg/.gnupg/S.*
gnupg/.gnupg/pubring.gpg
gnupg/.gnupg/random_seed
gnupg/.gnupg/secring.gpg
gnupg/.gnupg/trustdb.gpg
gnupg/.gnupg/*.db
gnupg/.gnupg/*.pgp
gnupg/.gnupg/*key
dvc/
iterative/telemetry
iterative/telemetry.lock
htop/htoprc

uv/uv-receipt.json
zsh/.zsh_history
zsh/.zcompdump*
zsh/.zsh_sessions/
claude/
configstore/

