*~
.#*
*.asc
*.bak
*.disabled
*.elc
*.old
*.pyc
/clojure/.clojure/*.sc
/clojure/.clojure/.cpcache
/fonts/.fonts
/gnupg/.gnupg/private-keys-*
/gnupg/.gnupg/secret.asc
/gnupg/.gnupg/sshcontrol
/gnupg/.gnupg/openpgp-revocs.d
/gnupg/.gnupg/*ring.*
/gnupg/.gnupg/S.*
/lein/.lein/repl-history
/local-bin
/virtualenvwrapper/.virtualenvs/*
boot/.boot/cache
get-pip.py
gnupg/.gnupg/pubring.gpg
gnupg/.gnupg/random_seed
gnupg/.gnupg/secring.gpg
gnupg/.gnupg/trustdb.gpg
lein/.lein/credentials.clj.gpg
lein/.lein/indices/
lein/.lein/repl-port
lein/.lein/self-installs/
