get-pip.py
*~
*.elc
*.pyc
gnupg/.gnupg/pubring.gpg
gnupg/.gnupg/random_seed
gnupg/.gnupg/secring.gpg
gnupg/.gnupg/trustdb.gpg
lein/.lein/repl-port
lein/.lein/self-installs/
lein/.lein/credentials.clj.gpg
lein/.lein/indices/
/gnupg/.gnupg/secret.asc
/gnupg/.gnupg/private-keys-*
/gnupg/.gnupg/.*
/lein/.lein/repl-history
